*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');

/* Navegador */
.navbar-brand{
    width: 75px;
    height: 75px;
}
/* Fin de navegador */

/*Portada*/
body{
    background-color: rgb(235, 233, 233);
}
.contenedor-portada{   
    width: 100%;
    height: 500px;
    background-color: rgb(235, 233, 233);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.titulo1{
    color: rgb(0, 0, 0);
    font-size: 90px;
    text-align:left;
    padding: 3rem;
}
.parrafo-portada{
    color: rgb(242, 133, 59);
    font-size: 40px;
    text-align: end;
    align-items: end;
}
 .separador{
    border:  solid 0.5px rgb(94, 91, 91);
    margin: 3rem;
}
.contenedor-caja{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin: 70px;
}
.caja-portada{
    border: solid 1px black;
    height: 600px;
    margin: 15px;
}
.caja-portada img{
    width: 170px;
    padding: 15px;
}
.index-parrafo{
    width: 300px;
    height: 300px;
    color:  rgb(94, 91, 91);
    padding: 10px;
    font-size: 20px;
}
@media (max-width: 800px){
    .contenedor-portada{   
        width: 50%;
        height: 250px;
        display: flex;
        flex-wrap: nowrap;
    }
    .titulo1{
        font-size: 45px;
        padding: 1rem;
    }
    .parrafo-portada{
        font-size: 20px;
    }
    .contenedor-caja{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 23px;
    }
    .caja-portada{
        border: solid 1px black;
        height: 330px;
        margin: 10px;
        padding: 10px;
    }
    .contenedor-caja img{
        width: 70px;
        padding: 5px;
    }
    .index-parrafo{
        width: 100%;
        height: 300px;
        padding: 5px;
    }
}

/*Fin de portada*/

/*Pagina de servicios*/
.servicios-caja1{
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    color:  rgb(94, 91, 91);
}
.parrafo1{
    text-align: center;
    max-width: 700px;
    padding: 30px;
}
.contenedor-cajas{
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    gap: 40px;
}
.caja{
    width: 300px;
    margin: 10px;
}
.caja img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: block ;
}
.caja:hover{
    background-color: rgb(242, 133, 59);
    color: rgb(94, 91, 91);
}
.titulo-servicios{
    text-decoration: underline;
    color:rgb(94, 91, 91);
    margin-top: 20px;
    text-align: center;
}
.parrafo-servicios{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 25px;
    text-align: center;
    color: rgb(94, 91, 91);
}
@media (max-width: 800px){
    .servicios-caja1{
        height: 150px;
        margin: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .contenedor-cajas{
        margin: 15px;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 10px;
    }
    .caja{
        width: 200px;
        height: auto;
        margin: 10px;
    }
    .caja img{
        width: 50px;
        height: 50px;
        margin: 0 auto;
        display: block ;
    }
}
/*Fin de pagina servicios*/

/*Proyectos*/
.parrafo-proyectos1{
    color:rgb(94, 91, 91);
    height: 100px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}
.container-proyectos{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
}
.container-proyectos .caja-proyectos1{
    width: 100%;
    height: 100%;
}
.container-proyectos .caja-proyectos1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-proyectos .caja-proyectos1:nth-child(1){
    grid-column-start: span 2;
}
.container-proyectos .caja-proyectos1:nth-child(8){
    grid-row-start: span 1;
}
@media screen and (max-width:500px){
    .container-proyectos{
        grid-template-columns: repeat(2, 1fr);
    }
    .container-proyectos .caja-proyectos1:nth-child(1){
        grid-column-start: span 1;
    }
    .container-proyectos .caja-proyectos1 img{
        height: 400px;
    }
}
/*Fin de Proyectos*/

/*Formulario*/
.contacto-img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.contacto-caja{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacto-titulo{
    margin: 60px;
    font-size: 30px;
    color: rgb(94, 91, 91);
}
.contacto-parrafo{
    margin: 40px;
    font-size: 20px;
    color: rgb(94, 91, 91);
}
.contacto-formulario{
    width: 800px;
    border: solid 0.5px rgb(94, 91, 91) ;
    color: rgb(94, 91, 91);
    margin: auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nombre     apellido"
                         "email      telefono"
                         "mensaje    mensaje"
                         "boton      boton";
}

.contacto-formulario label{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.contacto
.contacto-formulario label:nth-child(1){
    grid-area: nombre;
}
.contacto-formulario label:nth-child(2){
    grid-area: apellido;
}
.contacto-formulario label:nth-child(3){
    grid-area: email;
}
.contacto-formulario label:nth-child(4){
    grid-area: telefono;
}
.contacto-formulario label:nth-child(5){
    grid-area: mensaje;
}
.contacto-formulario label:nth-child(6){
    grid-area: boton;
}
.contacto-formulario button{
    grid-area: boton;
    border: solid 0.5px;
    color: rgb(94, 91, 91);
    padding: 10px;
}
@media(max-width:750px){
    .contenedor-contacto{
        display: flex;
        justify-content: center;
    }
    .contacto-img{
        width: 100%;
        height: 200px;
    }
    .contacto-formulario{
        justify-items: center;
        width: auto;
        grid-template-rows: repeat(6,60px);
        border: solid 0.5px rgb(94, 91, 91);
        color: rgb(94, 91, 91);
        grid-template-areas: "nombre"
                             "apellido"
                             "email"
                             "telefono"
                             "mensaje"
                             "boton";
    }
    .contacto-titulo{
        margin: 15px;
        font-size: 15px;
    }
    .contacto-parrafo{
        margin: 10px;
        font-size: 10px;
    }
}
.contacto-informacion{
    background-color: black;
    color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.contacto-logo{
    width: 400px;
    height: 400px;
}
.contacto-info2{
    padding: 30px;

}
.mapa{
    padding: 30px;
    width: 200px;
    height: 200px;
}
/*Formulario*/

/*Conocenos*/
.nosotros-portada{
    background-image: url("../mutimedia/img/nosotros/foto-valores.jpg");
    height: 90vh;
}
.nosotros-caja1{
    background-color: rgb(262, 235, 214);
    color: black;
}
.nosotros-caja2{
    background-color: rgb(231, 214, 235);
    color: black;
}
.nosotros-caja3{
    background-color: rgb(242, 133,59);
    color: black;
}

/*Fin de Conocenos*/
footer{
    width: 100%;
    height: 90px;
    background-color: black;
    color:white;
    text-align: center;
    line-height: 55px;

}
.footer-titulo{
    padding: 10px;
    color: white;
    font-size: 15px;
}
.logos{
    width: 20px;
    height: 20px;
}
