
footer{
    width: 100%;
    height: 90px;
    background-color: black;
    color:white;
    text-align: center;
    line-height: 55px;
    .logos{
        width: 20px;
        height: 20px;
    }
    .footer-titulo{
        padding: 10px;
        color: white;
        font-size: 15px;
    }
}